<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <title>FIFA WorldCups API</title>
</head>

<body id="grad">

    <div id="app" class="row">

        <div class="col-6" id="textCollumn">
            <h1 id="title1">FIFA</h1>
            <h2 id="title2">WORLD<br>CUP'S<br>API</h2>
        </div>

        <div class="col-6" id="cardWrapper">"

            <div class="card shadow-lg" id="card">
                <div class="card-body">
                    <div class="alert alert-danger" v-if="message" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    <div class="container mx-auto my-3">
                        <div class="accordion accordion-flush" id="accordionWrap">
                            <div class="accordion-item" id="accordion">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button id="accordion-button" class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                        GET - Retorna sede, vencedor, segundo lugar conforme ano informado
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionWrap">
                                    <div class="accordion-body">
                                        <div class="mb-3 row">
                                            <div style="margin-bottom:5px;">
                                                <label for="year" class="col-sm-12 col-form-label">Digite o ano da copa:
                                                </label>
                                            </div>
                                            <div class="col-sm-11">
                                                <input type="number" class="form-control" v-model="year_cup" id="year"
                                                    placeholder="ano da copa" pattern="^[0-9]+$">
                                            </div>
                                            <button class="col-sm-1 btn btn-primary" @click="search(year_cup)"><i
                                                    class="material-symbols-outlined">
                                                    search
                                                </i></button>
                                        </div>
                                        <div class="mb-3" v-if="year_info != null">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Sede</th>
                                                        <th scope="col">Vencedor</th>
                                                        <th scope="col">Segundo lugar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{year_info.Country}}</td>
                                                        <td>{{year_info.Winner}}</td>
                                                        <td>{{year_info.RunnersUp}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" id="accordion">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button id="accordion-button" class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false" aria-controls="flush-collapseTwo">
                                        GET - Retorna dados das Finais conforme ano informado
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionWrap">
                                    <div class="accordion-body">
                                        <div class="mb-3 row">
                                            <div style="margin-bottom:5px;">
                                                <label for="year" class="col-sm-12 col-form-label">Digite o ano da copa:
                                                </label>
                                            </div>
                                            <div class="col-sm-11">
                                                <input type="number" class="form-control" v-model="finals_cup" id="year"
                                                    placeholder="ano da copa" pattern="^[0-9]+$">
                                            </div>
                                            <button class="col-sm-1 btn btn-primary"
                                                @click="searchFinals(finals_cup)"><i class="material-symbols-outlined">
                                                    search
                                                </i></button>
                                        </div>
                                        <div class="mb-3" v-if="finals_info != null">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Data</th>
                                                        <th scope="col">Estádio</th>
                                                        <th scope="col">Times</th>
                                                        <th scope="col">Placar</th>
                                                        <th scope="col">Condições</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{finals_info.Datetime}}</td>
                                                        <td>{{finals_info.Stadium}}</td>
                                                        <td>{{finals_info.Home_Team_Name}}<b> X
                                                            </b>{{finals_info.Away_Team_Name}}</td>
                                                        <td>{{finals_info.Home_Team_Goals}}<b> X
                                                            </b>{{finals_info.Away_Team_Goals}}</td>
                                                        <td>{{finals_info.Win_conditions}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" id="accordion">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button id="accordion-button" class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                        aria-expanded="false" aria-controls="flush-collapseThree">
                                        GET - Retorna ano, sede e colocação de um país informado
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionWrap">
                                    <div class="accordion-body">
                                        <div class="mb-3 row">
                                            <div style="margin-bottom:5px;">
                                                <label for="year" class="col-sm-12 col-form-label">Digite o país:
                                                </label>
                                            </div>
                                            <div class="col-sm-11">
                                                <input type="text" class="form-control" v-model="countries_cup"
                                                    id="year" placeholder="nome do país">
                                            </div>
                                            <button class="col-sm-1 btn btn-primary"
                                                @click="searchCountries(countries_cup)"><i
                                                    class="material-symbols-outlined">
                                                    search
                                                </i></button>
                                        </div>
                                        <div class="mb-3" v-if="countries_info != null">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Ano</th>
                                                        <th scope="col">Sede</th>
                                                        <th scope="col">Colocação</th>
                                                    </tr>
                                                </thead>
                                                <template v-for="country in countries_info">
                                                    <tbody>
                                                        <tr>
                                                            <td>{{country.Year}}</td>
                                                            <td>{{country.Country}}</td>
                                                            <td>{{country.Position}}</td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item" id="accordion">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button id="accordion-button" class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                        aria-expanded="false" aria-controls="flush-collapseFour">
                                        GET - Retorna detalhes completos conforme ano informado
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-bs-parent="#accordionWrap">
                                    <div class="accordion-body">
                                        <div class="mb-3 row">
                                            <div style="margin-bottom:5px;">
                                                <label for="year" class="col-sm-12 col-form-label">Digite o ano da copa:
                                                </label>
                                            </div>
                                            <div class="col-sm-11">
                                                <input type="number" class="form-control" v-model="details" id="year"
                                                    placeholder="ano da copa" pattern="^[0-9]+$" wd>
                                            </div>
                                            <button class="col-sm-1 btn btn-primary" @click="searchDetails(details)"><i
                                                    class="material-symbols-outlined">
                                                    search
                                                </i></button>
                                        </div>
                                        <div class="mb-3" v-if="details_info != null">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Sede</th>
                                                        <th scope="col">Vencedor</th>
                                                        <th scope="col">Segundo lugar</th>
                                                        <th scope="col">Data</th>
                                                        <th scope="col">Estádio</th>
                                                        <th scope="col">Placar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{details_info.Country}}</td>
                                                        <td>{{details_info.Winner}}</td>
                                                        <td>{{details_info.RunnersUp}}</td>
                                                        <td>{{details_info.Datetime}}}</td>
                                                        <td>{{details_info.Stadium}}</td>
                                                        <td>{{details_info.Home_Team_Goals}}<b> X
                                                            </b>{{details_info.Away_Team_Goals}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            year_cup: 1930,
            year_info: null,
            finals_cup: 1930,
            finals_info: null,
            countries_cup: 'Argentina',
            countries_info: null,
            details: 1930,
            details_info: null,
            message: null,
            http_errors: {
                404: "Não consegui localizar a informação solicitada.",
                500: "Ocorreu um erro inesperado, tente novamente em alguns minutos.",
            }
        },

        methods: {
            async search(year_cup) {

                try {
                    const response = await fetch(`http://localhost:3000/worldcups/${year_cup}`);
                    this.year_info = await this.handleResponse(response);
                } catch (e) {
                    this.message = e.message;
                }
            },

            async searchFinals(finals_cup) {
                try {
                    const response = await fetch(`http://localhost:3000/worldcups/finals/${finals_cup}`)
                    this.finals_info = await this.handleResponse(response);
                } catch (e) {
                    this.message = e.message;
                }
            },

            async searchCountries(countries_cup) {
                try {
                    const response = await fetch(`http://localhost:3000/worldcups/country/${countries_cup}`)
                    this.countries_info = await this.handleResponse(response);
                } catch (e) {
                    this.message = e.message;
                }
            },

            async searchDetails(details) {
                try {
                    const response = await fetch(`http://localhost:3000/worldcups/details/${details}`)
                    this.details_info = await this.handleResponse(response);
                } catch (e) {
                    this.message = e.message;
                }
            },

            async handleResponse(response) {
                if (!response.ok) {
                    throw new Error(response.status + ': ' + this.http_errors[response.status]);
                }

                return await response.json();
            }
        },
        computed: {
        },
        mounted() {
            console.log("mounted");
        },
        created() {
            console.log("created");
        },
        beforeMount() {
            console.log("beforeMount");
        }
    })
</script>